.btn-primary {
    font-size: 0.9rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 0.375em;
    border: none;
    padding: 0.6em 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 0.5em;
}

.btn-primary:hover {
    background-color: hsl(239, 85%, 70%);
    color: var(--color-white);
    text-decoration: none;
}

.btn-secondary {
    background-color: var(--color-btn-secondary);
    color: var(--color-white);
    border-radius: 0.5em;
    padding: 0.5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 0.5em;
    border: none;
}

