
.btn-cirkel {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--color-white-to-gray);
    color: var(--color-navigation);
    border: none; 
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-cirkel:hover,
.btn-cirkel:focus-visible {
    background-color: hsl(240, 100%, 85%);
}

