.darkmode-toggle {
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 10000;
    right: 5rem;
    position: absolute;
    padding-top: 0.5rem;
}

.darkmode-toggle p {
    display: none;
    color: var(--color-gray-700);
    font-weight: 600;
}

@media (min-width: 540px) {
    .darkmode-toggle p {
        display: inline;
    }
}

@media (min-width: 768px) {
    .darkmode-toggle {
        padding-right: 3rem;
    }
}

@media (min-width: 992px) {
    .darkmode-toggle {
        right: 9rem;
        position: absolute;
    
    }
}