.breadcrumb {
    background-color: var(--color-bg-gray);
}

.breadcrumb ul {
    list-style: none;
    display: flex;
    gap: 0.25rem;
    padding: 0;
    margin: 0;
}

.breadcrumb li {
    display: inline-flex;
    align-items: center;
}

.breadcrumb a {
    text-decoration: none;
    color: var(--color-gray-600);
    display: inline-flex; 
    align-items: center;
}

.breadcrumb li:not(:last-child)::after {
    content: '»';
    padding: 0.5rem 1rem;
    color: var(--color-gray-600);
}

.breadcrumb li:last-child {
    color: var(--color-primary);
}

.home-icon {
    width: 16px; /* Sätt storlek på ikonen */
    height: 16px;
    margin-right: 4px; /* Skapa lite mellanrum mellan ikonen och texten */
    vertical-align: middle; /* Justera vertikalt för säkerhets skull */
}
