.darkmode-toggle {
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 10000;
    margin-right: 1rem; /* Lägger till avstånd till höger */
}


.darkmode-toggle p {
    display: none;
    color: var(--color-gray-700);
    font-weight: 600;
}

@media (min-width: 768px) {
    .darkmode-toggle p {
        display: inline;
    }
}

@media (min-width: 1400px) {
    .darkmode-toggle {
        gap: 1.5rem;
    }
}
