/* DarkModeSwitch.css */
.darkmode-toggle {
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 10000;
}

/* Dölj texten "Dark Mode" som standard för mindre skärmar */
.darkmode-toggle p {
    display: none;
    color: var(--color-gray-700);
    font-weight: 600;
}

/* Visa texten "Dark Mode" för skärmar större än tablet-läge */
@media (min-width: 768px) {
    .darkmode-toggle p {
        display: inline;
    }
}

@media (min-width: 1400px) {
    .darkmode-toggle {
        gap: 1.5rem;
    }
}
