footer {
    font-size: 14px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--color-bg);
    color: var(--color-gray-600);
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

footer .container .credit {
    display: none;
}
