#section-how-does-it-work {
    text-align: center;
    background-color: var(--color-bg-gray);
    padding-block: 2rem;

    .workdesktop,
    .worktablet {
        display: none;
    }

    .workimagestablet,
    .workimagesdesktop {
        display: flex;
        justify-content: space-evenly;
    }

    .h1 {
        padding-top: 1rem;
        font-weight: 800;
        font-size: 28px;
        }

    .workmobile {
        padding-bottom: 2rem;       
    }

    .workimagesmobile {
        display: flex;
        justify-content: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    p {
        color: var(--color-text-body);
    }

    .h4 {
        margin-bottom: 1rem;
    }
}
