/* MobileButton.css */
.btn-mobile {
    display: none;
    background-color: transparent;
    border: 0;
    padding: 0.5rem;
    padding-right: 0;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    z-index: 9999;
}

@media (width <= 992px) {
    .btn-mobile {
        display: block;
    }

    .btn-mobile[aria-expanded="true"] ~ .main-menu {
        animation: openMenu 250ms forwards;
    }

    .btn-mobile[aria-expanded="false"] ~ .main-menu {
        animation: closeMenu 250ms forwards;
    }
}
