/* Navbar.css */
.main-nav {
    padding-block: 1rem;
    position: absolute;
    width: 100%;
    top: 0;
}

#container-1 {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
    align-items: center;
    padding: 0 1rem; /* 1rem padding på sidorna */
    margin: 0 auto;
    max-width: 1320px; /* Maxbredd på 1320px för desktop */
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Dölj navbaren under 992px */
.navbar {
    display: none;
}

/* Visa navbar när skärmbredden är 992px eller större */
@media (min-width: 992px) {
    .navbar {
        display: flex;
        gap: 1rem;
    }
}

/* Hamburgarmenyn visas som standard och döljs vid 992px eller större */
.btn-mobile {
    display: block;
    background-color: transparent;
    border: 0;
    padding: 0.5rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    z-index: 9999;
}

@media (min-width: 992px) {
    /* Döljer hamburgarmenyn när skärmen är 992px eller större */
    .btn-mobile {
        display: none;
    }
}

.navbar.show {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    background-color: var(--color-gray600);
    height: 100%;
    width: 100%;
}

.nav-link {
    color: var(--color-navigation);
    text-decoration: none;
    font-weight: 600;
    padding: 1rem;
}

.nav-link:hover,
.nav-link:focus-visible {
    color: var(--color-primary);
    text-decoration: underline;
}

.active {
    color: var(--color-primary);
    text-decoration: underline;
}

#auth-signin {
    display: none;
}

/* Tablet-läge och större */
@media (min-width: 768px) {
    #container-1 {
        max-width: 720px;
    }

    .nav {
        gap: 3rem;
    }

    #auth-signin {
        display: inline-flex;
        padding: 0.5rem 1rem;
    }
}
