#container-1 {
    display: grid;
    grid-template-columns: 1fr auto auto auto; 
    gap: 1.5rem;
    align-items: center;
    margin: 0 auto;
    padding-top: 0.5rem;
    width: 100%;
    position: relative;
}



@media (min-width: 768px) {
    #container-1 {
        max-width: 720px;
    }
}

@media (min-width: 1400px) {
    #container-1 {
        max-width: 1320px;
    }
}

.main-nav {
    padding-block: 1rem;
    position: absolute;
    width: 100%;
    top: 0;
}

#logo {
    display: flex;
    z-index: 1001;
}

.navbar {
    display: none;
}

.btn-mobile {
    display: block;
    background-color: transparent;
    border: 0;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    z-index: 9999;
}

.nav-link {
    color: var(--color-navigation);
    text-decoration: none;
    font-weight: 600;
    padding: 1rem;
}

.nav-link:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.navbar.show {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15rem;
    padding-bottom: 2rem;
    box-shadow: 0 5px 5px #B4B7C9;
    background-color: var(--color-bg);
    width: 100%;
    z-index: 1000;
    animation: openMenu 0.5s ease forwards;
}

.dark .navbar.show {
    box-shadow: 0 5px 5px rgba(180, 183, 201, 0.2);
}

.navbar.hide {
    animation: closeMenu 0.5s ease forwards;
}

@media (min-width: 992px) {
    .navbar {
        display: flex;
        gap: 1rem;
        position: static;
        flex-direction: row;
        align-items: center;
    }

    .btn-mobile {
        display: none;
    }

    .navbar .btn-primary {
        align-items: center;
        position: absolute;
        right: 1rem;
    }

    #container-1 {
        grid-template-columns: auto 1fr; 
    }

    .nav-link {
        margin-left: 0;
        padding: 0.5rem 1rem;
    }
}
