/* Navbarens huvudstil */
.main-nav {
    padding-block: 1rem;
    position: absolute;
    width: 100%;
    top: 0;
}

/* Container för navbar-innehåll */
#container-1 {
    display: grid;
    grid-template-columns: 1fr auto auto auto; /* En kolumn för logo och tre för innehåll */
    gap: 1.5rem;
    align-items: center;
    width: 100%;
    margin: 0;
}

/* Logo-stil */
#logo {
    display: flex;
    z-index: 1001;
}

/* Dold navbar för mobilt läge */
.navbar {
    display: none;
}

/* Hamburgerknapp (mobilvy) */
.btn-mobile {
    display: block;
    background-color: transparent;
    border: 0;
    padding: 0.5rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    z-index: 9999;
}

/* Media queries för större skärmar */
@media (min-width: 992px) {
    /* Visa navbar och dölj mobilknapp på större skärmar */
    .navbar {
        display: flex;
        gap: 1rem;
    }

    .btn-mobile {
        display: none;
    }
}

/* Öppen navbar i mobilvy */
.navbar.show {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15rem;
    box-shadow: 0 5px 5px #B4B7C9;
    background-color: var(--color-bg);
    height: 60%;
    width: 100%;
    z-index: 1000;
    right: 0;
}

/* Stil för länkar i navbar */
.nav-link {
    color: var(--color-navigation);
    text-decoration: none;
    font-weight: 600;
    padding: 1rem;
}

.nav-link:hover,
.nav-link:focus-visible,
.active {
    color: var(--color-primary);
    text-decoration: underline;
}

/* Auth-knapp dolt för mobilt */
#auth-signin {
    display: none;
}
