#section-info {
    display: none;
    background-color: var(--color-bg);
}

#section-info .container {
    display: grid;
    padding-block: 7rem;
    padding-inline: 1rem;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

#section-info .content1,
#section-info .content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#section-info .content1 h2,
#section-info .content2 h2 {
    margin-bottom: 2.5rem;
}

#section-info .infolist {
    padding-left: 0;
    padding-bottom: 1rem;
}

#section-info .infolist li {
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

#section-info .infolist li p {
    color: var(--color-text-body);
}

#section-info .checkicon {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}

#section-info .image1,
#section-info .image2 {
    width: 80%;
}

#section-info .info {
    display: flex;
    gap: 1.75rem;
    padding-bottom: 2.5rem;
}

#section-info .info-box .infoicon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-icon-bg);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 1rem;
    width: fit-content;
    height: fit-content;
}

#section-info .info-box p {
    color: var(--color-text-body);
}
