.MapSection {
    background-color: var(--color-bg);
    padding-block: 2rem;
    }

    .MapSection .Adresses {
        padding-inline: 1rem;
    }

.MapSection .image {
    display: none;
    justify-self: center;
    padding-top: 15rem;
}

.MapSection .map {
    border-radius: 8px;
}

.MapSection .infolist {
    list-style: none;
    padding-left: 2rem; /* Samma värde som rubrikens padding */
    margin: 0;
}

.MapSection .Center1 h2,
.MapSection .Center2 h2 {
    padding-left: 2rem;
}

    .MapSection .infolist li {
        display: flex;
        padding: 0.25rem;
    }

    .MapSection .infolist li p {
        color: var(--color-text-body);
    }

    .MapSection .checkicon {
        width: 20px;
        height: 20px;
        margin-right: 0.5rem;
        margin-top: 0.25rem;
    }

    .MapSection .strong {
        font-weight: 800;
        color: var(--color-text-heading);
    }

.MapSection .Center2 h2 {
    padding-top: 2rem;
}

    @media (min-width: 768px) { 
        
        .MapSection .image {
            display: block;
            
        }

        .MapSection .Adresses {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .MapSection .Center1 h2 {
            padding-top: 2rem;
        }
    }

    @media (min-width: 1400px) { 
        .MapSection .Container {
            display: grid;
            grid-template-columns: 3fr 2fr;
            padding-inline: 2rem;
        }

        .MapSection .Adresses {
            display: flex;
            flex-direction: column;
            grid-column: 2;
            grid-row: 1 / span 4;
            padding-top: 7rem;

        }

        .MapSection .image {
            display: flex;
            grid-column: 1;
            grid-row: 1 /span 4;
            
        }
    
    }