/* SECTION-APPFEATURES START */
.section-appfeatures {
    padding-block: 2rem;
    background-color: var(--color-bg);
}

.section-appfeatures .h2 {
    text-align: center;
}

.section-appfeatures .h2 h2 {
    font-size: 28px;
    font-weight: 800;
    color: var(--color-text-heading);
}

.section-appfeatures .content {
    text-align: center;
    padding-bottom: 3rem;
}

.section-appfeatures .content p {
    font-size: 18px;
    color: var(--color-text-body);
}

.section-appfeatures .container-info {
    padding-bottom: 1rem;
}

.section-appfeatures .images {
    display: none;
    position: relative;
}

.section-appfeatures .img-phone {
    width: auto;
    height: auto;
}

.section-appfeatures .card {
    position: absolute;
    left: 20px;
    top: 90px;
    width: auto;
    height: auto;
}

/* Media queries for tablet and desktop */

@media (min-width: 768px) {
    /* Tablet-specific styles */
    .section-appfeatures .h2 h2 {
        font-size: 34px;
    }

    .section-appfeatures .container-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        margin-bottom: 5rem;
    }
}

@media (min-width: 1400px) {
    /* Desktop-specific styles */
    .section-appfeatures .container {
        display: grid;
        grid-template-columns: 2fr 3fr;
        margin-bottom: 6rem;
    }

    .section-appfeatures .h2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .section-appfeatures .h2 h2 {
        font-size: 40px;
        text-align: left;
        margin-bottom: 0;
    }

    .section-appfeatures .content {
        grid-column: 2/3;
        grid-row: 2/3;
        padding-bottom: 4rem;
    }

    .section-appfeatures .content p {
        color: var(--color-text-body-light);
        text-align: left;
        padding-top: 1rem;
    }

    .section-appfeatures .container-info {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .section-appfeatures .images {
        display: block;
        grid-column: 1;
        grid-row: 1 / span 4;
    }
}

/* SECTION-APPFEATURES END */


