#section-info {
    display: none;
}

.informationbox {
    border: 1px solid;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

.informationbox.success {
    background-color: #e0ffe0;
    border-color: #4CAF50;
    color: #4CAF50;
}

.informationbox.error {
    background-color: #ffe0e0;
    border-color: #f44336;
    color: #f44336;
}

.informationbox .btn-primary {
    margin-top: 15px;
    background-color: inherit;
    border: none;
    font-size: 1em;
    cursor: pointer;
    padding: 8px 15px;
}

.informationbox .btn-primary:hover {
    background-color: #45a049; /* Mörkare grön vid hover */
}

@media (min-width: 1400px) { 

    #section-info {
        display: block;
        background-color: var(--color-bg);
    }

#section-info .container {
    display: grid;
    padding-block: 7rem;
    padding-inline: 1rem;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

#section-info .content1,
#section-info .content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#section-info .content1 h2,
#section-info .content2 h2 {
    margin-bottom: 2.5rem;
    font-size: 2rem;
}

#section-info .infolist {
    padding-left: 0;
    padding-bottom: 1rem;
}

#section-info .infolist li {
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

#section-info .infolist li p {
    color: var(--color-text-body);
}

#section-info .checkicon {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}

#section-info .image1,
#section-info .image2 {
    width: 80%;
}

#section-info .info {
    display: flex;
    gap: 1.75rem;
    padding-bottom: 2.5rem;
}

}